$default-color = #2D4054
$hover-color = #00B4CF
$default-size = 14px
$btn-active = rgb(1,134,154)

textWidthOverHidden()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap 

flexTextWrap()
  display flex 
  align-items center