.tw-scroll-bar 
  height calc(100vh - 326px)
.gm-scrollbar.-vertical 
  background-color transparent
/* horizontal scrollbar track */
.gm-scrollbar.-horizontal 
  background-color transparent
/* scrollbar thumb */
.gm-scrollbar .thumb 
  background-color rgba(0,0,0,.4)
.gm-scrollbar .thumbhover 
  background-color fuchsia